<mat-tab-group
  class="tabs"
  [backgroundColor]="tabsBackgroundColor"
  animationDuration="0ms"
  [selectedIndex]="selectedIndex">
>
  <mat-tab class="tab-content" (click)="setPage('arts')" label="Alkotások">
    <div *ngIf="!detectMob()" fxLayout="row wrap" class="arts">
      <div
        fxLayout="row wrap"
        fxLayoutGap="16px"
        style="margin: 16px"
        *ngFor="let art of arts"
      >
        <app-images
          [id]="art.id"
          [shareid]="art.shareid"
          [imageurl]="art.downloadurl"
          [gsurl]="art.gsURL"
          [getFromGS]="art.getFromGS"
          [author]="art.author"
          [desc]="art.desc"
        ></app-images>
      </div>
      
    </div>

    <div *ngIf="detectMob()" fxLayout="row wrap" class="arts-phone">
      <div
        fxLayout="row wrap"
        fxLayoutGap="16px"
        style="margin: 2.5vw"
        *ngFor="let art of arts"
      >
        <app-images
          [id]="art.id"
          [shareid]="art.shareid"
          [imageurl]="art.downloadurl"
          [gsurl]="art.gsURL"
          [getFromGS]="art.getFromGS"
          [author]="art.author"
        ></app-images>
      </div>
    </div>
    <button mat-fab color="grey" class="reload" (click)="update()">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-tab>
  <mat-tab (click)="setPage('upload')" label="Feltöltés"><app-upload></app-upload></mat-tab>
  <mat-tab (click)="setPage('comp')" label="Verseny"><app-competition></app-competition></mat-tab>
  <mat-tab (click)="setPage('admin')" label="Admin" *ngIf="isAdmin"><app-fanart-mod></app-fanart-mod></mat-tab>
</mat-tab-group>

<!--<app-footer [extraIds]="[]"></app-footer>-->
