.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 20px);

  .inner {
    color: white;
    padding: 12px;
  }
}

base {
    margin: 16px;

}

base-mobile {
    margin: 2.5vw;
}

.card {
    margin-left: 16px;
}

.card-mobile {
    width: 95vw;
    margin-bottom: 10px;
}