<mat-card *ngIf="!detectMob()" class="card">
  <mat-card-header>
    <div mat-card-avatar *ngIf="authorAvatar" class="example-header-image">
      <img height="45" class="rounded-circle" [src]="authorAvatar" />
    </div>
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle *ngIf="authorName">{{ authorName }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    *ngIf="imageurl"
    [src]="imageurl"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content> </mat-card-content>
  <p *ngIf="desc">
    {{ desc }}
  </p>
  <mat-card-actions>
    <button
      style="background-color: var(--green)"
      mat-button
      (click)="approve()"
    >
      <mat-icon>done</mat-icon> Approve
    </button>
    <button style="float: right" mat-flat-button class="red" (click)="share()">
      <mat-icon>close</mat-icon> Deny
    </button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="detectMob()" class="card-phone">
  <mat-card-header>
    <div mat-card-avatar *ngIf="authorAvatar" class="example-header-image">
      <img height="45" class="rounded-circle" [src]="authorAvatar" />
    </div>
    <mat-card-title>Title</mat-card-title>
    <mat-card-subtitle *ngIf="authorName">{{ authorName }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    *ngIf="imageurl"
    [src]="imageurl"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content> </mat-card-content>
  <p>
    A long description here: The Shiba Inu is the smallest of the six original
    and distinct spitz breeds of dog from Japan. A small, agile dog that copes
    very well with mountainous terrain, the Shiba Inu was originally bred for
    hunting.
  </p>
  <mat-card-actions>
    <button
      style="background-color: var(--red); color: white"
      (click)="deny()"
      mat-button
    >
      <mat-icon>favorite_border</mat-icon> () Like
    </button>
    <button
      style="background-color: var(--green)"
      mat-button
      (click)="approve()"
    >
      <mat-icon>favorite</mat-icon> () Liked
    </button>
    <button mat-flat-button class="green" (click)="share()">
      <mat-icon>content_copy</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>