.main {
  margin: 60px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto 450px;
}

.main-phone {
  min-height: calc(100vh - 60px);
  width: 90vw;
  background-color: white;
  border-radius: 5px;
  margin: 5vw 10px 10px 5vw;
  padding: 10px;
}

.photo-phone {
  width: 80vw;
  margin-top: 5px;
  margin-left: 0px;
}

.card {
  min-height: 300px;
  min-width: 200px;
  max-height: 1000px;
  max-width: 400px;
}

a,
p,
h1,
h2,
h3,
button {
  font-family: Roboto;
  color: black;
}

.blue {
  background-color: var(--blue);
  color: white;
}

.red {
  background-color: var(--red);
  color: white;
}
.green {
  background-color: var(--green);
  color: black;
}

.yellow {
  background-color: var(--yellow);
  color: black;
}

form {
  button {
    margin-right: 16px;
  }
}

.Norticus {
  background-color: #238405;
  color: white;
}

.Isti {
  background-color: #09FE0A;
}

.Walrusz {
  background-color: #C53E0B;
  color: white;
}

.Geiszla {
  background-color: #480B9D;
  color: white;
}

.NSFW {
  background-color: var(--red);
  color: white;
}