v-card
    v-tabs(v-model="tab" fixed-tabs flat background-color="primary" dark)
        v-tab {{ $t('fanarts') }}
        v-tab {{ $t('upload') }}
        v-tab(v-if="isAdmin") Admin 
    v-tabs-items(v-model=tab)
        v-tabs-item(v-if="tab === 0")
            v-flex.flexContainer
                v-container(fill-height fluid)
                    div(style="margin-top: 30px;")
                    fan-art-card(v-for="i in items" :id="i" :key="i")
        v-tabs-item(v-else-if="tab === 1")
            v-container
                fan-art-upload
        v-tabs-item(v-else-if="tab === 2")
            v-container
                fan-art-admin