<mat-progress-bar
  *ngIf="savestate === 'loading'"
  mode="indeterminate"
></mat-progress-bar>

<div class="main">
  <div class="form">
    <h1>Itt tudod feltölteni az alkotásodat</h1>
    <form [formGroup]="myForm">
      <mat-form-field hintLabel="Max {{ maxTitle }} karakter" appearance="fill">
        <mat-label>Cím</mat-label>
        <input
          [(ngModel)]="title"
          #titlee
          type="text"
          [maxlength]="maxTitle"
          formControlName="title"
          matInput
          class="title"
        />
        <mat-icon matSuffix>title</mat-icon>
        
        <mat-hint align="end"
          >{{ titlee.value?.length || 0 }}/{{ maxTitle }}</mat-hint
        > </mat-form-field
      ><br /><br />
      <mat-form-field hintLabel="Max {{ maxDesc }} karakter" appearance="fill">
        <mat-label>Leírás</mat-label>
        <input
          [(ngModel)]="desc"
          #desce
          formControlName="desc"
          [maxlength]="maxDesc"
          type="text"
          matInput
        />
        <mat-icon matSuffix>description</mat-icon>

        <mat-hint align="end"
          >{{ desce.value?.length || 0 }}/{{ maxDesc }}</mat-hint
        > </mat-form-field
      ><br /><br />

      <mat-form-field appearance="fill">
        <mat-label>Kép</mat-label>
        <ngx-mat-file-input formControlName="image" (change)="onFileSelected($event)" placeholder="Basic fill placeholder" ></ngx-mat-file-input>
        <mat-icon matSuffix>folder</mat-icon>

      </mat-form-field>
      <mat-progress-bar *ngIf="uploadInProgress" mode="determinate" color="accent" [value]="uploadPrecentage" style="width: 400px;"></mat-progress-bar>
      

      <!--
<input
        #file
        formControlName="image"
        (change)="onFileSelected($event)"
        type="file"
      />
      -->
      <br /><br />
      <section class="example-section">
        <mat-checkbox
          formControlName="isForCompatition"
          class="example-margin"
          [(ngModel)]="isForCompatition"
          >Alkotás benevezése versenyre</mat-checkbox
        >
      </section><br /><br />
      
      <div *ngIf="isForCompatition">
        <mat-form-field appearance="fill">
          <mat-label>Kategórtia</mat-label>
          <mat-select>
            <div *ngFor="let option of comp_categorys">
              <mat-option [value]="option.value">{{ option.name }}</mat-option>
            </div>
          </mat-select>
        </mat-form-field>
      </div>
      <br>
      <button [class]="saveBtnClass" (click)="saveAsDraft()" mat-button>{{ saveBtnContent ? saveBtnContent : 'Mentés' }}</button>
      <button class="red" mat-button>Beküldés</button>
    </form>
  </div>
  <div>
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar *ngIf="authorAvatar" class="example-header-image">
          <img height="45" class="rounded-circle" [src]="authorAvatar" />
        </div>
        <mat-card-title>{{ title ? title : "Cím" }}</mat-card-title>
        <mat-card-subtitle *ngIf="authorName">{{
          authorName
        }}</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        [src]="
          imageurl ||
          'https://www.thoughtco.com/thmb/Zya6PS3m6XjRAmVo1HONvY9DW_A=/3865x2174/smart/filters:no_upscale()/abstract-paper-flower-pattern-656688606-5acfba2eae9ab80038461ca0.jpg'
        "
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content> </mat-card-content>
      <p>{{ desc ? desc : "Leírás (opcionális)" }}</p>
      <mat-card-actions>
        <button mat-button disabled>
          <mat-icon *ngIf="isForCompatition">open_in_new</mat-icon>
          {{ isForCompatition ? "" : "Megnyitás" }}
        </button>
        <button
          style="background-color: var(--red); color: white"
          (click)="like()"
          *ngIf="!liked"
          mat-button
        >
          <mat-icon>favorite_border</mat-icon> ({{ likes.length }})
          {{ isForCompatition ? "" : "Like" }}
        </button>
        <button
          style="background-color: var(--green)"
          mat-button
          (click)="dislike()"
          *ngIf="liked"
        >
          <mat-icon>favorite</mat-icon> ({{ likes.length }})
          {{ isForCompatition ? "" : "Liked" }}
        </button>
        <button
          *ngIf="shareable"
          mat-flat-button
          [class]="shareclass"
          (click)="share()"
        >
          <mat-icon *ngIf="shareclass === 'red'">content_copy</mat-icon>
          <mat-icon *ngIf="shareclass != 'red' && isForCompatition"
            >done</mat-icon
          >
          {{ isForCompatition ? "" : sharetext }}
        </button>
        <button
          mat-button
          class="red"
          *ngIf="isForCompatition && !voted"
          (click)="voteAdd()"
        >
          <mat-icon>star</mat-icon> Szavazás
        </button>
        <button
          mat-button
          class="green"
          *ngIf="isForCompatition && voted"
          (click)="voteRemove()"
        >
          <mat-icon>star</mat-icon> Szavazott
        </button>
      </mat-card-actions>
    </mat-card>
    <p>*a gombok csak minták</p>
  </div>
</div>
