.main {
  margin: 60px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}

.card {
    min-height: 300px;
    min-width: 200px;
    max-height: 800px;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
  }

a,
p,
h1,
h2,
h3,
button {
  font-family: Roboto;
  color: black;
}

.blue {
  background-color: var(--blue);
  color: white;
}

.red {
  background-color: var(--red);
  color: white;
}
.green {
  background-color: var(--green);
  color: black;
}