<div *ngIf="loading">
  <p>Loading...</p>
</div>
<div *ngIf="!loading">
  <iframe
    [src]="tdrStream"
    frameborder="0"
    allowfullscreen="true"
    scrolling="no"
    height="500"
    width="50%"
  ></iframe>
  <iframe
    [src]="istiStream"
    frameborder="0"
    allowfullscreen="true"
    scrolling="no"
    height="500"
    width="50%"
  ></iframe>
  <iframe
    id="chat_embed"
    [src]="tdrChat"
    height="390"
    width="49%"
    style="float: left"
  >
  </iframe>
  <iframe
    id="chat_embed"
    [src]="istiChat"
    height="390"
    width="49%"
    style="float: right"
  >
  </iframe>
</div>
