<div fxLayout="row wrap" class="div">
  <div fxLayout="row wrap" fxLayoutGap="16px" style="margin: 16px">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img height="45" class="rounded-circle" [src]="pp" />
        </div>
        <mat-card-title>Norticus</mat-card-title>
        <mat-card-subtitle>Bemutatkozás</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="text">
          Sziasztok! :) Isti115 vagyok, a WAIK csapat tagja, jelenleg PhD
          hallgató az ELTE Informatikai Karán. Nagyon szeretek megérteni és
          elmagyarázni dolgokat, úgyhogy nyugodtan kérdezzetek, igyekszem minél
          jobban válaszolni! ;)
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
