<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Waik Logo"
    src="assets/waik_big_icon.png"
  />
  <button routerLink="/">Kezdőlap</button>
  <button routerLink="/stream">Streamek</button>
    <div class="spacer"></div>
    <a aria-label="Norticus36" routerLink="/profile/norticus" title="Norticus36">
      <img class="rounded-circle" [src]="tdrImage" height="30">
    </a>
    <a aria-label="Walrusz" routerLink="/profile/walrusz" title="Walrusz">
      <img class="rounded-circle" [src]="walruszImage" height="30">
    </a>
    <a aria-label="Isti115" routerLink="/profile/isti" title="Isti115">
      <img class="rounded-circle" [src]="istiImage" height="30">
    </a>
    <a aria-label="Geiszla" title="Geiszla">
      <img class="rounded-circle" [src]="geiszlaImage" height="30">
    </a>
</div>
<!--
  href="https://www.twitch.tv/isti115"
  href="https://www.youtube.com/user/WalruszMester"
  href="https://www.twitch.tv/norticus36"
-->

<router-outlet></router-outlet>