<div *ngIf="!isFromPhone">
  <div fxLayout="row wrap" style="margin: 2.5vw">
    <div fxLayout="row wrap" fxLayoutGap="16px" style="margin: 10px">
      <app-discord-embed></app-discord-embed>
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Cím</mat-card-title>
          <mat-card-subtitle>Ki (pl DC_NÉV)</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Bővebben</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<div *ngIf="!isFromPhone && isFromPhone" class="box">
  <app-discord-news></app-discord-news>
  <div>
    <p>Home page here idk</p>
    <!--
        <iframe
        src="https://discord.com/widget?id=541446521313296385&theme=dark"
        width="350"
        height="500"
        allowtransparency="true"
        frameborder="0"
        sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
      ></iframe>
      <img
        src="assets/pedro.webp"
        (click)="pedroClick()"
        height="90%"
        class="center"
      />
    -->
    <!--<app-footer [extraIds]="null"></app-footer>-->
  </div>
  <app-discord-embed></app-discord-embed>
</div>

<div *ngIf="isFromPhone">
  <p style="color: black">Home page here idk</p>
  <!--

      <iframe
      src="https://discord.com/widget?id=541446521313296385&theme=dark"
      width="350"
      height="500"
      allowtransparency="true"
      frameborder="0"
      sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
    ></iframe>
    <img
      src="assets/pedro.webp"
      (click)="pedroClick()"
      height="90%"
      class="center"
    />
    -->
  <!--<app-footer [extraIds]="null"></app-footer>-->
</div>
<!--<app-footer *ngIf="!isFromPhone" [extraIds]="[]"></app-footer>-->
