.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.box {
  display: grid;
  grid-template-columns: 300px auto 300px;
}

.card {
  color: black;
  max-width: 400px;
  margin: 10;

  p,
  h1,
  h2,
  h3 {
    color: black;
  }
}
