
<!--
<div class="logo-header">
    <img src="assets/svgs/discord-logo-and-text-white.svg" (click)="join()" class="logo" alt="Discord">
</div>
<div class="count">
    <span *ngIf="membercount === 'Loading...'" > <div class="status"  style="background: var(--green);" ><br></div> Loading...</span>
    <span *ngIf="membercount === 'Error'"> <div class="status"  style="background: var(--red);" ><br></div> Valami hiba történt</span>
    <span *ngIf="membercount != 'Error' && membercount != 'Loading...'"> <div class="status"  style="background: var(--green);" ><br></div> {{ membercount }} Online</span>
</div>
<div class="channels" *ngIf="membercount != 'Error' && membercount != 'Loading...'">
    <p class="voice-header">Hang csatornák:</p>
    <div *ngFor="let channel of channels">
        <p class="voice-channel"><img height="20" src="assets/svgs/discord-voice-icon.svg" alt="Voice channel">   {{ channel.name }}</p>
    </div>
</div>
<div class="spacer"></div>
<div *ngIf="invite" class="join-group">
    <button mat-button (click)="join()">Csatlakozás!</button>
</div>
-->

<mat-card [class.card]="!detectMob()">
    <mat-card-header>
      <div mat-card-avatar (click)="join()"><img src="assets/svgs/discord-logo-notext.svg"></div>
      <mat-card-title>Discord</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
        <button mat-button (click)="join()">Csatlakozás!</button>
    </mat-card-actions>
  </mat-card>