<mat-card [class.card]="!detectMob()">
  <mat-card-header>
    <div mat-card-avatar><img src="assets/svgs/discord-logo-notext.svg" /></div>
    <mat-card-title>Discord</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button>Csatlakozás!</button>
  </mat-card-actions>
</mat-card>

<!--
<p>Hírek</p>
<div class="messages">
    <div *ngFor="let message of messages" class="message">
        <p><img [src]="message.author" class="rounded-circle" alt="Norticus36 avatar" height="50px"><h3>Norticus36</h3></p>
        <p> {{ message.content }}</p>
        <br>
        <br>
    </div>
</div>
-->
