<div fxLayout="row wrap" class="div" *ngIf="colldata.length != 0">
  <div fxLayout="row wrap" fxLayoutGap="16px" style="margin: 16px;" *ngFor="let doc of colldata">
    <app-card
      [title]="doc.name"
      [dlurl]="doc.downloadurl"
      [gsurl]="doc.downloadgs"
      [image]="doc.imageurl"
      [github]="doc.githuburl"
      [desc]="doc.desc"
      [shareid]="doc.shareid"
    ></app-card>
  </div>
</div>

<div *ngIf="colldata.length === 0">
  <div class="center">
    <mat-spinner></mat-spinner>
  </div>
</div>

<app-footer [extraIds]="[{ 'id': '406516981110407168', role:'idea' }]"></app-footer>