<br />

<div *ngIf="!detectMob()" style="margin: 30px">
  <mat-card class="card" fxLayout="row wrap" fxLayoutGap="16px">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img
          class="rounded-circle"
          height="55px"
          src="https://yt3.ggpht.com/ytc/AAUvwniseLALwR5fmrqhrt2YDGgh1VJSCviENV2MkukhUg=s68-c-k-c0x00ffffff-no-rj"
        />
      </div>
      <mat-card-title style="margin-left: 5px">Walrusz</mat-card-title>
      <mat-card-subtitle style="margin-left: 7px"
        >Fő csatorna</mat-card-subtitle
      >
    </mat-card-header>
    <br />
    <br />
    <div *ngIf="loading">
      <mat-progress-spinner
        style="margin: 0 auto"
        mode="indeterminate"
      ></mat-progress-spinner>
    </div>
    <div *ngIf="!loading">
      <div style="margin-bottom: 10px"></div>
      <iframe
        mat-card-image
        class="mainvideo"
        [src]="videoURLs[currentVideoIndex]"
        title="YouTube video player"
        frameborder="0"
        height="400px"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <mat-card-content> </mat-card-content>
      <mat-card-actions>
        <div class="btn-group">
          <div *ngFor="let v of videos">
            <button
              class="btn"
              style="padding: 73px 130px 73px 130px; background-size: cover; background-image: url({{
                v.thumbnails.default
              }});"
              (click)="changeindex(v.url)"
            ></button>
          </div>
        </div>
      </mat-card-actions>
    </div>
  </mat-card>
</div>

<div *ngIf="detectMob()" fxLayout="row wrap" class="div">
  <div fxLayout="row wrap" fxLayoutGap="16px" style="margin: 16px">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img
            class="rounded-circle"
            height="55px"
            src="https://yt3.ggpht.com/ytc/AAUvwniseLALwR5fmrqhrt2YDGgh1VJSCviENV2MkukhUg=s68-c-k-c0x00ffffff-no-rj"
          />
        </div>
        <mat-card-title style="margin-left: 5px">Walrusz</mat-card-title>
        <mat-card-subtitle style="margin-left: 5px"
          >Bemutatkozás</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content>
        <p class="text">
          Üdvözöllek! Walrusz vagyok és úgy hiszem, bármiről lehet érdekes,
          kreatív és szórakoztató videót készíteni, hogyha az ember elegendő
          munkát fektet bele. Mesterségem elsősorban a szórakoztató
          ismeretterjesztő tartalmak gyártása, de emellett sok más mindent is
          találhatsz a csatornámon. Szeretek nagy hangsúlyt fektetni a videók
          vágására, az utómunkára és hiszek abban, hogy a minőségi szórakoztatás
          kulcsa a kreativitásban rejlik. Bátran nézz szét a csatornámon, hátha
          találsz valamit, ami tetszik :)
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!--


  <iframe width="2390" height="1039" src="https://www.youtube.com/embed/mbLR_tdvCFI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

-->
