<div fxLayout="row wrap" class="div">
  <div fxLayout="row wrap" fxLayoutGap="16px" style="margin: 16px">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"><img height="45" class="rounded-circle" [src]="pp"></div>
        <mat-card-title>Norticus</mat-card-title>
        <mat-card-subtitle>{{ name }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="text">
            Sziasztok! Norticus (Todi) vagyok, főként számítógépes játékokkal és az informatikával foglalkozom. Néha talán túlságosan is versengő vagyok a mentális jólétemnek. Ha játékokról vagy animékről van szó, szívesen elbeszélgetek róluk. Jelenleg informatikushallgató vagyok, de igyekszem időt szánni magamra és a streamelésre is.

A waik csapat egyik alapító tagja vagyok (fun fact, az eredeti waik figurához egyedül én nem rajzoltam hozzá, mire odaértem már véglegesítve lett), a szervereket amin a csapat játszik legtöbbször én hosztolom. Igyekszem élőben is közvetíteni a történéseket, ha új sorozat készül éppen, akkor én (és néha Isti) streameljük élőben, de szoktam egyedül is streamelni, akár angolul is.
        </p>
      </mat-card-content>
    </mat-card>

    <!--
    <mat-card class="player">
      <mat-card-header>
        <mat-card-title>Twitch</mat-card-title>
        <mat-card-subtitle>Norticus36 twitchen</mat-card-subtitle>
      </mat-card-header>
      <iframe
        src="https://player.twitch.tv/?channel=norticus36&parent=localhost"
        frameborder="0"
        allowfullscreen="true"
        scrolling="no"
        height="400"
        width="620"
      ></iframe>
      <iframe
        id="chat_embed"
        src="https://www.twitch.tv/embed/norticus36/chat?parent=localhost"
        height="400"
        width="300"
      >
      </iframe>
    </mat-card>
    -->

  </div>
</div>

<!--
    <iframe src="https://player.twitch.tv/?channel=norticus36&parent=www.example.com" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
  -->
