.card {
  min-height: 300px;
  min-width: 200px;
  max-height: 1000px;
  max-width: 400px;
}
a,
p,
h1,
h2,
h3 {
  color: black;
}

.blue {
  background-color: var(--blue);
  color: white;
}

.red {
  background-color: var(--red);
  color: white;
}
.green {
  background-color: var(--green);
  color: black;
}
