<div class="logo-header">
    <img src="assets/svgs/discord-logo-and-text-white.svg" (click)="join()" class="logo" alt="Discord">
</div>
<div class="count">
    <span *ngIf="membercount === 'Loading...'" > <div class="status"  style="background: #FEE75C;" ><br></div> Loading...</span>
    <span *ngIf="membercount === 'Error'"> <div class="status"  style="background: #ED4245;" ><br></div> Valami hiba történt</span>
    <span *ngIf="membercount != 'Error' && membercount != 'Loading...'"> <div class="status"  style="background: #3BA55C;" ><br></div> {{ membercount }} Online</span>
</div>
<div class="channels" *ngIf="membercount != 'Error' && membercount != 'Loading...'">
    <p class="voice-header">Hang csatornán:</p>
    <div *ngFor="let channel of channels">
        <p class="voice-channel"><img height="20" src="assets/svgs/discord-voice-icon.svg">   {{ channel.name }}</p>
    </div>
</div>
<div class="spacer"></div>
<div *ngIf="invite" class="join-group">
    <button (click)="join()">Csatlakozás!</button>
</div>