{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  },
  "plugins": [

    ["@babel/plugin-syntax-decorators", {
      "decoratorsBeforeExport": true
    }]
    
  ]
}
